<h1>Flexout</h1>
<p>Standardized flex layouts for CMS systems</p>
<div class="demo">
  <div class="fl">
    <div>A</div>
    <div>B</div>
    <div>C</div>
    <div>D</div>
  </div>

  <div class="fl">
    <div>currency</div>
    <div>language</div>
    <div class="space-before">link A</div>
    <div>link B</div>
    <div>link C</div>
    <div>link D</div>
  </div>

  <div class="fl">
    <div>logo-logo-logo-logo-logo</div>
    <div class="space-before rem5">search</div>
    <div class="space-before">my account</div>
    <div>mini cart</div>
  </div>

</div>
