<h1>Flexout</h1>
<p>Standardized flex layouts for CMS systems</p>
<div class="demo">

  <div class="page">
    <div class="slot flexbox">
      <div class="component">currency</div>
      <div class="component">language</div>
      <div class="component space-before hide-sm">link A</div>
      <div class="component hide-sm">link B</div>
      <div class="component hide-sm">link C</div>
      <div class="component hide-sm">link D</div>
    </div>

    <div class="slot flexbox">
      <div class="component">logo-logo-logo-logo-logo</div>
      <app-search-box class="component"></app-search-box>
      <div class="component">my account</div>
      <app-mini-cart class="component"></app-mini-cart>
    </div>
  </div>

</div>
