.flexbox {
    display: flex;
    flex-wrap: wrap;
    // align-content: center;
    // justify-content: space-between;
    > * {
        order: 1;
    }
    .space {
        &-around,
        &-before {
            margin-left: auto;
            &-5 {
                margin-left: 5rem;
            }
        }
        &-around,
        &-after {
            margin-right: auto;
        }
    }

    div.line-break {
        flex-basis: 100%;
        width: 0px;
        height: 0px;
        overflow: hidden;
        padding: 0;
    }
}

.order {
    &-first {
        &-sm {
            @media (max-width: 1000px) {
                order: 0;
                border-color: red;
            }
        }
    }
    &-last {
        &-sm {
            @media (max-width: 1000px) {
                order: 2;
                border-color: red;
            }
        }
    }
}
