@import './cms-flexbox';

.page {
    padding: 10px;
    margin: 10px;
    background-color: #ddd;
    .slot {
        border: solid 1px #aaa;
        padding: 10px;
        background-color: #fff;

        .component {
            padding: 10px;
            background-color: #ddd;
            border: solid 1px #aaa;
        }
    }
}

@media (max-width: 1000px) {
    .hide-sm {
        opacity: 0.2;
        display: none;
    }
}
